name: My PR Action

on:
  pull_request:
    branches:
      - '*'
      
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Create branch from target branch and merge feature branch
      run: |
        git fetch origin ${{ github.event.pull_request.base.ref }}:${{ github.event.pull_request.base.ref }}
        git checkout -b "pr-$(echo ${{ github.event.pull_request.title }} | tr '[:upper:]' '[:lower:]' | sed 's/ /-/g')"
        git merge --no-ff ${{ github.event.pull_request.head.ref }}
    - name: Test for the name of new branch
      run: |
        echo ${{ github.event.pull_request.title }}
    - name: Build Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: |
          my-docker-registry.com/my-image:"pr-$(echo ${{ github.event.pull_request.title }} | tr '[:upper:]' '[:lower:]' | sed 's/ /-/g')"
