name: Admin Actions

on:
  pull_request:
    types:
      - opened

jobs:
  check_admin_role:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Check admin status
      run: |
        actor_role=$(curl -s -H "Authorization: Bearer ${{ github.token }}" \
                     "https://api.github.com/repos/${{ github.repository }}/collaborators/${{ github.actor }}/permission" \
                     | jq -r '.permission')
        
        if [ "$actor_role" == "admin" ]; then
          echo "User is an admin. Proceed with the workflow."
        else
          echo "User is not an admin. Exiting workflow."
          exit 1
        fi

    - name: Run actual tasks
      run: |
        # Put your tasks here that should only run for admins

  run_after_admin_check:
    needs: check_admin_role
    runs-on: ubuntu-latest

    steps:
    - name: New Job After Admin Check
      run: |
        echo "This job runs after the admin check job."
        # Put your tasks here

